
h1 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

.a {
  text-decoration: none !important;
}

.clothing-list, .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
  padding: 20px;
}


.clothing-item, .card-trip {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  position: relative;
}

.clothing-item:hover, .card-trip:hover {
  transform: scale(1.03);
}


.clothing-item img, .card-trip img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


.clothing-item h2, .card-trip h2 {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  padding: 10px;
}

.clothing-item p, .card-trip p {
  font-size: 14px;
  color: #666;
  padding: 0 10px;
}


.card-trip-pricing {
  font-size: 18px;
  font-weight: bold;
  color: #592ed1;
  text-align: right;
  padding: 10px;
}


.btn-primary {
  display: block;
  text-align: center;
  background-color: #6422f3;
  color: white;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 8px;
  margin: 10px;
}

.btn-primary:hover {
  background-color: #5149b9;
}



.card-trip a,
.card-trip-link,
.card-trip-link h2,
.card-trip-pricing {
  text-decoration: none !important;
  color: inherit;
}


.card-trip a:hover,
.card-trip-link:hover,
.card-trip h2:hover,
.card-trip-pricing:hover {
  text-decoration: none !important;
}

.card-trip img {
  object-fit: cover;
  object-position: center;
}
